<h1>Categorias</h1>

<%= link_to 'Crear categoria', nueva_categoria_path %>

<div class="row">
    <div class="col">
    <h3>Nombre</h3>
    </div>
    <div class="col">
    <h3>Acciones</h3>
    </div>
</div>

<table>
    
    <% @categorias.each do |categoria| %>
    <div class="row">
        <div class="col"><%= categoria.categoria %>
        </div>

        <div class="col">
                <%= link_to editar_categoria_path(categoria) do %>
                    <i class="bi bi-pencil-fill"></i> Editar
                <% end %>
                <%= link_to categoria_path(categoria), method: :delete, data: { confirm: '¿Quieres eliminar la categoria?' } do %>                   
                        <i class="bi bi-trash-fill"></i> Eliminar                    
                <% end %>
        </div>
    </div>
<% end %>
