<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://scontent-scl2-1.xx.fbcdn.net/v/t1.6435-9/239823791_10159600614694675_8024510691246608608_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=0debeb&_nc_ohc=i1z25Ch9FqUAX9piaL8&tn=UQvRwMhC4_7Tiy_N&_nc_ht=scontent-scl2-1.xx&oh=67b35e65ea8a9c76b97e2bec1f03f8d1&oe=61519706" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>