<h1>Hot Dog</h1>
<p>
    <%= @nombre %>

</p>

<p>
El completo es un bocadillo tradicional de Chile que consiste en un pan de hot dog o pan de completo1​ abierto a lo largo, con una vienesa en el medio sobre la cual se colocan diversos ingredientes. <br>

Es una de las especialidades de comida rápida más comunes y conocidas en Chile, diferenciándose del tradicional hot dog estadounidense por los ingredientes y aderezos utilizados. Además, los mismos suelen tener un tamaño mayor que el tradicional. 
</p>

<img src="https://www.concepcionchile.cl/images_content/receta-completo-italiano.jpg" width="600px">
<br>
<a href ="/hamburguesa">Hamburguesa</a>